# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.env

# Dataset e classificatore rete neurale
*.pkl 
*.pt
classifier_config.json
0_report_espansione_dataset.md
check_dataset_seeds.py
training_curves.png

# LaTeX
*.aux
*.log
*.out
*.toc
*.gz
*.fls
*.fdb_latexmk
*.synctex.gz

# OS
.DS_Store
Thumbs.db
*.txn
*.manifest
*.lance
